@import './reset';

header {
  background-color: slategrey;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  .left{
    font-size: 2rem;
    float: left;
    height: 100%;
    padding: calc(22px - 1rem)
  }
  .right{
    float: right;
    text-align: right;
    margin-right: .5rem;
    input{
      margin-top: .2em;
      width: 100%;
      border: 2px solid black;
      border-bottom-color: transparent;
      border-right-color: transparent;
    }
    input:focus{
      outline-color: whitesmoke;
    }
  }
}

label{
  display: block;
}
